.company-wrapper {
    padding: 0 70px;
}

.img2 {
    top: 35px;
}

.company {
    padding-top: 100px;
}

.president {
    padding: 45px 95px 0;
    display: flex;
}

.president p {
    font-size: 1.5rem;
    padding-left: 50px;
    z-index: 5;
    font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

.company-about {
    padding: 140px 165px 110px;
}

.sub-title {
    text-align: center;
    padding-bottom: 30px;
}

.sub-title h2 {
    color: rgb(57, 30, 136);
    font-size: 3.2rem;
    font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

.company-about ul {
    padding-bottom: 60px;
}

.company-about ul li {
    display: flex;
    padding: 30.5px 0;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.company-about ul li h6 {
    font-family: "Hiragino Kaku Gothic ProN", sans-serif;
    font-size: 1.5rem;
    width: 20%;
    padding-left: 36px;
}

.company-about ul li p {
    font-size: 1.5rem;
}

.map {
    height: 394px;
    width: 100%;
    background-color: rgb(229, 229, 229);
}

.company-about a p{
    font-size: 1.6rem;
    font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

/* レスポンシブ対応 (COMPANY)*/
@media screen and (max-width:1250px) {
    .company-wrapper {
        width: 89vw;
        margin: 0 auto;
        padding: 0;
    }

    .president {
        display: block;
        padding: 60px 0 0;
    }

    .president p {
        font-size: 1.4rem;
        padding: 30px 0;
    }

    .company-about {
        padding: 80px 0 50px;
        width: 89vw;
        margin: 0 auto;
    }

    .company-about ul li {
        display: block;
        padding: 20.5px 0;
    }

    .company-about ul li h6 {
        font-size: 1.6rem;
        width: 20%;
        padding-left: 0;
    }
}