.service-list {
    width: 1110px;
    margin: 0 auto;
    padding: 70px 0 100px 0;
}

.service {
    display: flex;
    padding-bottom: 60px;
}

.service-exp {
    padding-left: 50px;
}

.service-exp h4 {
    font-size: 2.4rem;
}

.service-exp {
    font-size: 1.5rem;
}

/* レスポンシブ対応 (SERVICE) */
@media screen and (max-width:1250px) {
    .service-list {
        width: 89vw;
        margin: 0 auto;
        padding: 40px 0 80px 0;
    }

    .service {
        flex-flow: column;
        padding-bottom: 50px;
    }

    .service-exp {
        padding-left: 0;
    }

    .service-exp h4 {
        font-size: 1.8rem;
        text-align: center;
        padding: 15px 0;
    }

    .service-exp {
        font-size: 1.4rem;
    }
}